{
   "secrets": {
     "some.stuff": {
       "login": "plalonde",
       "secret": "yarrr",
       "notes": "Password for some stuff",
       "url": "https:\/\/some.stuff.com\/"
     },
     "services.spatula": {
       "login": "plalonde@overnet.qc.ca",
       "secret": "YARRR",
       "url": "http:\/\/www.yaaaaaar.com",
       "notes": "bleh"
     }
   }
 }
